# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# lock
pnpm-lock.yaml

# environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# macOS-specific files
.DS_Store

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets